<% include header %>

<form method="POST" action="/user/addDrink">
    <table id="addDrink">
        <tr><td>Drink Name: </td>
            <td><input type="text" id="drinkName" name="drinkName" /></td>
        </tr>
        <tr><td>Glass Type: </td>
            <td><input type="text" id="glassType" name="glassType" /></td>
        </tr>
        <tr><td>Ice(yes/no): </td>
	    <td><input type="text" id="ice" name="ice" /></td>
        </tr>
        <tr><td>Main Alcohol: </td>
            <td><input type="text" id="mainType" name="mainType" /></td>
        </tr>
	<td>Ingredients:</td>
	<% for (var i=0; i < 10; i++) { %>
        <tr><td></td>
             <td><input type="text" id="ingredient"+i name="ingredient" /></td>
        </tr>
        <% } %>
	<td>Steps: </td>
        <% for (var i=0; i < 10; i++) { %>
        <tr><td></td>
             <td><input type="text" id="step"+i name="step" /></td>
        </tr>
        <% } %>

    </table>
    <input type="submit">
</form>

<% include footer %>