<% include header %>
<% include sideBar %>


    <table id="drink">
        <tr><td>Drink Name: </td>
            <td><%= rs[0].drinkName %></td>
        </tr>
        <tr><td>Glass Type:  </td>
            <td><%= rs[0].glassType %></td>
        </tr>
	<tr><td>Ice: </td>
            <td><%= rs[0].ice %></td>
        </tr>	        
	<tr><td>Main Alcohol: </td>
            <td><%= rs[0].alcName %></td>
        </tr>
	

    </table>
<% include footer %>