<% include header %>
<% include sideBar %>

Submitted Data
    <table id="drink">
        <tr><td>Drink Name: </td>
            <td><%= drinkName %></td>
        </tr>
        <tr><td>Glass Type:  </td>
            <td><%= glassType %></td>
        </tr>
	<tr><td>Ice : </td>
            <td><%= ice %></td>
        </tr>

    </table>
<% include footer %>