<!DOCTYPE HTML>
<html>
<head>
 <style>
   header{
   color:red;
   text-align:center;
   background-color:black;
   padding:5px;
   clear:both;
   }
 </style>
   
</head>
<body>
<header>
    <h1>James Foster</h1>
</header>
<div id="content">
